/* moficicação direta*/
img {
    width: 10%;
}
/* Modificado com id*/
#imagem1  {

    width: 100px;
    height: 50px;
}
/* modificando com classe*/

.titulo2 {
    color: blue;
    font-style: oblique;


}